# Brickset Sets URL

Workflow: 1   
Goal: Make csv file with set url, traversing the site based on year.

In [1]:
import os
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

In [3]:
%load_ext autoreload
%autoreload 2

import lego_helper as lh

## Scrape Data By Year

In [4]:
set_ls = lh.get_year('2017')
set_ls[:2]

year: 2017
page no: 10
page no: 20
page no: 30
pagination stopped at: 34

[{'set_no': '10255',
  'name': 'Assembly Square',
  'url': '/sets/10255-1/Assembly-Square'},
 {'set_no': '10256', 'name': 'Taj Mahal', 'url': '/sets/10256-1/Taj-Mahal'}]

In [5]:
set_df = pd.DataFrame(set_ls)
set_df = set_df[['set_no', 'name', 'url']]
set_df.head()
set_df.info()

  set_no                    name                                   url
0  10255  Assembly Square         /sets/10255-1/Assembly-Square
1  10256  Taj Mahal               /sets/10256-1/Taj-Mahal
2  10257  Carousel                /sets/10257-1/Carousel
3  10258  London Bus              /sets/10258-1/London-Bus
4  10259  Winter Village Station  /sets/10259-1/Winter-Village-Station

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 3 columns):
set_no    839 non-null object
name      839 non-null object
url       839 non-null object
dtypes: object(3)
memory usage: 19.7+ KB

In [6]:
save_path = r'data/set_url_2017.csv'
set_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.05 mb'

## Scrape All Years

In [7]:
cyear = 1980
set_ls = []

while cyear <= 2018:
    cset_ls = lh.get_year(str(cyear))
    set_ls += cset_ls
    cyear += 1

set_ls[:2]

year: 1980
pagination stopped at: 5
year: 1981
pagination stopped at: 3
year: 1982
pagination stopped at: 3
year: 1983
pagination stopped at: 4
year: 1984
pagination stopped at: 4
year: 1985
pagination stopped at: 6
year: 1986
pagination stopped at: 6
year: 1987
pagination stopped at: 8
year: 1988
pagination stopped at: 3
year: 1989
pagination stopped at: 6
year: 1990
pagination stopped at: 6
year: 1991
pagination stopped at: 6
year: 1992
pagination stopped at: 5
year: 1993
pagination stopped at: 7
year: 1994
pagination stopped at: 6
year: 1995
pagination stopped at: 7
year: 1996
page no: 10
pagination stopped at: 9
year: 1997
page no: 10
pagination stopped at: 11
year: 1998
page no: 10
pagination stopped at: 15
year: 1999
page no: 10
pagination stopped at: 14
year: 2000
page no: 10
pagination stopped at: 16
year: 2001
page no: 10
pagination stopped at: 17
year: 2002
page no: 10
pagination stopped at: 18
year: 2003
page no: 10
pagination stopped at: 18
year: 2004
page no: 10
pagination stopped at: 17
year: 2005
page no: 10
pagination stopped at: 16
year: 2006
page no: 10
page no: 20
pagination stopped at: 19
year: 2007
page no: 10
pagination stopped at: 18
year: 2008
page no: 10
pagination stopped at: 18
year: 2009
page no: 10
page no: 20
pagination stopped at: 20
year: 2010
page no: 10
page no: 20
pagination stopped at: 21
year: 2011
page no: 10
page no: 20
pagination stopped at: 24
year: 2012
page no: 10
page no: 20
pagination stopped at: 28
year: 2013
page no: 10
page no: 20
page no: 30
pagination stopped at: 29
year: 2014
page no: 10
page no: 20
page no: 30
pagination stopped at: 30
year: 2015
page no: 10
page no: 20
page no: 30
pagination stopped at: 32
year: 2016
page no: 10
page no: 20
page no: 30
pagination stopped at: 34
year: 2017
page no: 10
page no: 20
page no: 30
pagination stopped at: 34
year: 2018
page no: 10
page no: 20
page no: 30
pagination stopped at: 32

[{'set_no': '722',
  'name': 'Universal Building Set, 7+',
  'url': '/sets/722-1/Universal-Building-Set-7'},
 {'set_no': '733',
  'name': 'Universal Building Set, 7+',
  'url': '/sets/733-1/Universal-Building-Set-7'}]

In [8]:
set_df = pd.DataFrame(set_ls)
set_df = set_df[['set_no', 'name', 'url']]
set_df.head()
set_df.info()

,set_no,name,url
0,722,"Universal Building Set, 7+",/sets/722-1/Universal-Building-Set-7
1,733,"Universal Building Set, 7+",/sets/733-1/Universal-Building-Set-7
2,744,"Universal Building Set with Motor, 7+",/sets/744-1/Universal-Building-Set-with-Motor-7
3,820,Red Plates Parts Pack,/sets/820-1/Red-Plates-Parts-Pack
4,822,Blue Plates Parts Pack,/sets/822-1/Blue-Plates-Parts-Pack

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13899 entries, 0 to 13898
Data columns (total 3 columns):
set_no    13899 non-null object
name      13899 non-null object
url       13899 non-null object
dtypes: object(3)
memory usage: 325.8+ KB

In [9]:
save_path = r'data/brickset_set_url.csv'
set_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'0.8 mb'