In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("data/brickset_features.csv")
df

,set_no,name,price_store,price_used,popularity,group,year,total_parts,number_parts,number_colors,scolor_1st,scolor_2nd
0,1591-1,Danone Delivery Truck,NaN,28.0,NaN,Modern day,1980.0,40,19,4,White,Blue
1,1592-1,Town Square - Castle Scene,NaN,235.0,19.2,Modern day,1980.0,495,133,10,Black,Yellow
2,1651-2,Maersk Line Container Lorry,NaN,444.0,5.0,Modern day,1980.0,305,66,9,Blue,Gray
3,6305-1,Trees and Flowers,3.75,10.0,17.2,Modern day,1980.0,24,6,4,Green,Red
4,6306-1,Road Signs,2.50,13.0,12.0,Modern day,1980.0,12,10,1,White,White
...,...,...,...,...,...,...,...,...,...,...,...,...
3208,76079-1,Ravager Attack,19.99,15.0,8.0,Licensed,2017.0,196,106,23,Black,Gray
3209,76080-1,Ayesha's Revenge,29.99,26.0,14.1,Licensed,2017.0,304,140,22,Black,Gray
3210,76081-1,The Milano vs. The Abilisk,49.99,48.0,4.0,Licensed,2017.0,456,176,27,Gray,Gray
3211,76082-1,ATM Heist Battle,19.99,12.0,4.0,Licensed,2017.0,184,111,20,Blue,Gray
3212,76083-1,Beware the Vulture,39.99,37.0,14.1,Licensed,2017.0,374,148,22,White,Black

In [5]:
df["theme_group"].value_counts(dropna=False)

Modern day          1027
Licensed             816
Action/Adventure     594
Historical           337
Model making         279
Racing               160
Name: theme_group, dtype: int64

In [9]:
df["theme"].value_counts(dropna=False)

Town                         508
Star Wars                    371
City                         302
Space                        218
Castle                       181
                            ...
Dino Attack                    5
Dinosaurs                      4
Ghostbusters                   2
The Simpsons                   2
Avatar The Last Airbender      2
Name: theme, Length: 70, dtype: int64

In [7]:
df["subtheme"].value_counts(dropna=False)

NaN                     546
Police                   77
Fire                     55
Special                  55
9V                       54
                       ...
Ant-Man                   1
Order of the Phoenix      1
Beauty and the Beast      1
My Own Creation           1
Bugatti                   1
Name: subtheme, Length: 248, dtype: int64

In [15]:
df["year"] = df["year"].astype(int)
df["year"].value_counts()

2015    196
2016    188
2017    167
2014    164
2012    140
2003    139
2013    139
2011    128
2010    123
2008    118
1998    114
2002    113
1999    105
2009    104
2001    102
2000     97
2007     94
1997     88
2006     87
2004     77
2005     72
1996     68
1991     56
1994     54
1993     54
1986     48
1989     44
1985     44
1992     42
1987     41
1995     41
1990     38
1988     38
1984     23
1983     19
1981     18
1980     17
1982     13
Name: year, dtype: int64

In [18]:
filter = df["piece_cnt"].isna()
df[filter]

,set_no,name,theme_group,theme,subtheme,year,piece_cnt,minifig_cnt,price_store,price_new,price_used,rating_value,rating_votes,number_parts,total_parts,number_colors,1st_color,2nd_color
1171,3420-3,Championship Challenge II (L'Equipe de France ...,Modern day,Sports,Football,2002,NaN,12.0,NaN,NaN,99.0,NaN,NaN,69,387,10,White,Red

In [20]:
df = df.drop(1171)

In [21]:
df["piece_cnt"] = df["piece_cnt"].astype(int)
df["piece_cnt"].value_counts()

23      32
24      28
21      27
20      23
25      22
        ..
3441     1
1368     1
1356     1
1332     1
4        1
Name: piece_cnt, Length: 905, dtype: int64